* {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: #262548;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}
.container {
  background-color: #3b3b68;
  border-radius: 20px;
  padding: 20px;
  box-shadow: -10px -10px 0 #201e3f;
}
.heading {
  display: inline-block;
  font-family: serif;
  color: #b9b5db;
}
.search-label {
  margin-top: 20px;
  font-family: sans-serif;
  color: #b9b5db;
  font-size: 10px;
  font-weight: bold;
  margin-bottom: 5px;
}
.search-box {
  background-color: #201e3f;
  border: none;
  color: #b9b5db;
  border-radius: 5px;
  padding: 10px;
  z-index: 0;
}
::placeholder {
  color: #b9b5db;
}
.img {
  width: 30px;
  z-index: 1px;
  position: absolute;
  border-radius: 5px;
  margin: 5px;
}
.container label {
  color: #b9b5db;
  font-family: sans-serif;
  font-size: 10px;
}
.box {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.mask {
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: #201e3f;
  border-radius: 50%;
  top: 0;
  left: 0;
  border: 1px rgb(143, 143, 143) solid;
}
.box input[type="radio"] {
  display: absolute;
  opacity: 0;
  cursor: pointer;
}
.box:hover input ~ .mask {
  background-color: rgb(143, 143, 143);
}
.box input:checked ~ .mask {
  background-color: #232044;
}
.mask:after {
  content: "";
  position: absolute;
  display: none;
}
.box input:checked ~ .mask:after {
  display: block;
}
.box .mask:after {
  top: 3px;
  left: 3px;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  background: #bcbacf;
}
.view {
  margin-bottom: 10px;
}
.include {
  margin-top: 40px;
}
.boxtwo {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.boxtwo input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.masktwo {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #bcbacf;
  border-radius: 5px;
}
.cboxtwo:hover input ~ .masktwo {
  background-color: #bcbacf;
}
.boxtwo input:checked ~ .masktwo {
  background-color: #bcbacf;
}
.masktwo:after {
  content: "";
  position: absolute;
  display: none;
}
.boxtwo input:checked ~ .masktwo:after {
  display: block;
}
.boxtwo .masktwo:after {
  left: 9px;
  top: 5px;

  width: 5px;
  height: 10px;
  border: solid #201e3f;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.save {
  background-color: #ffbb56;
  border: none;
  border-radius: 5px;
  width: 80%;
  height: 30px;
  margin: 50px 0 30px 0;
  color: #201e3f;
}
.close {
  float: right;
  border:none;
  background-color:#3b3b68;
  color: #b9b5db;
  font-family: Arial, Helvetica, sans-serif;
}
.close:hover{
  color:#ffbb56
}